# Python Concepts 1

### 1) Variables
### 2) Datatypes
### 3) Operators
### 4) Assignments and Expressions
### 5) Branching
### 6) Output Formats: Printing Statements
### --------------------------------------------------------------------------------------------------------------------------------------------------------

# Variables

In [7]:
# VARIABLES
"""
VARIABLE NAMES (Rules):

1) Case sensitive ('VAR' is not the same as 'var' or 'Var')
2) Should start with underscores or letters, not with a number
3) Only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4) Cannot be a Python keyword

-------------------------------------------------------------------------------------
"""

# Variables and assignment
a = 10
print(a)
b = 5
print(b)

10
5

In [3]:
# Dynamically-inferred types
a = 10
print(type(a))
b = '10'
print(type(b))
c = 10.0
print(type(c))
print(isinstance(a,int))

<class 'int'>
<class 'str'>
<class 'float'>
True

In [8]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### Type Casting

In [9]:
# Manual type-casting (string to int)
a = 10
b = '5'
print(a + int(b))

15

In [10]:
# Automatic type-casting (int to float)
a = 10
print(type(a))
a += 5.0
print(type(a))

<class 'int'>
<class 'float'>

In [11]:
ab = 90
print(id(ab)) # gives us the memory allocation

2600199279760

# Data Types

In [ ]:
# DATA TYPES
"""
Characters:A-Z, 0-9, special

------------------------------------------------------------------------------------
DATATYPE           EXAMPLES         CAN BE CONVERTED INTO
1)int -               90                float,string
2)float -           90.09                int,string
3)string -       "Hi", 'Hello'
4)boolean -        True, False
5)complex(a+bj)-    "3+4j"

-------------------------------------------------------------------------------------
Constructors to convert the datatype:
int()
float()
str()

-------------------------------------------------------------------------------------
"""

# Operators

In [ ]:
"""
==========
OPERATORS:
==========
-------------------------------------------------------------------------------------
ARITHMETIC OPERATORS:
+  Addition
-  Subtraction
*  Multiplication
/  Division
%  Modulus
** Exponentiation
// Floor division
-------------------------------------------------------------------------------------
LOGICAL OPERATORS: and, or, not
-------------------------------------------------------------------------------------
IDENTITY OPERATORS: is, is not


NOTE: == : compares values

      is & is not : compare memory allocation
-------------------------------------------------------------------------------------
MEMBERSHIP OPERATORS: in, not in

in: checks if an item is present in given set of items (list/array/tuple/dict)
-------------------------------------------------------------------------------------
RELATIONAL OPERATORS (Compare 2 data inputs): <,>,<=,>=,==,!=
-------------------------------------------------------------------------------------
"""

# Assignments and Expressions

In [12]:
spam = 'Spam'                # Basic form
print(spam)

spam, ham = 'yum', 'YUM'     # Tuple assignment (positional)
print(spam,ham)

[spam, ham] = ['yum', 'YUM'] # List assignment (positional)
print(spam,ham)

a, b, c, d  = 'spam'         # Sequence assignment, generalized
print(a,b,c,d)

#a,*b = 'spam'               # Extended sequence unpacking (Python 3.0)
#print(a,b)

spam = ham = 'lunch'         # Multiple-target assignment
print(spam,ham)

number=9
number += 42                 # Augmented assignment 
print(number)

Spam
yum YUM
yum YUM
s p a m
lunch lunch
51

# Branching

In [ ]:
"""
# if Statement

        Syntax :
            if BOOLEAN EXPRESSION:
                STATEMENTS
                
# if_Else statement:
    
        Syntax :
            if BOOLEAN EXPRESSION:
                STATEMENTS_1        # executed if condition evaluates to True
            else:
                STATEMENTS_2        # executed if condition evaluates to False
                
# Chanined Conditionals:
    
        Syntax :
            if x < y:
                STATEMENTS_A
            elif x > y:
                STATEMENTS_B
            else:
                STATEMENTS_C
                
# Nested if :

        Syntax :
            if expression1:
                statement(s)
                if expression2:
                    statement(s)
                elif expression3:
                    statement(s)
                else:
                    statement(s)
                elif expression4:
                    statement(s)
            else:
                statement(s)
                
# Pass in if 

    if True:          # This is always true
        pass          # so this is always executed, but it does nothing
    else:
        pass
"""

In [1]:
# Integer division
a = 10
b = 5

print(a/b)
print(float(b)/a)
print(int('101',8))

2.0
0.5
65

In [10]:
# Forcing float division
b='3'
a=2.0

print(float(b)/a)

1.5

In [11]:
num = 100
print(type(num))  # returns the type

num = str(num)    # converting integer to string
print(type(num))

<class 'int'>
<class 'str'>

In [12]:
num = False
print(type(num))

num = complex(num)  # converting bool to complex
print(type(num))
print(num)

<class 'bool'>
<class 'complex'>
0j

In [13]:
print(9>5)

# print(9>'a') # TypeError: Cannot compare instances of different datatypes

True

In [14]:
num='a'
num=ord(num) # ord() function gives us the ASCII value of the passed argument
print(9>num)

False

In [15]:
print(9<10>11>10)

print(9<10 and 10>11 and 11>10)

False
False

In [16]:
"""
BITWISE OPERATORS:

Leftshift: Multiply by 2^n
Rightshift: Divide by 2^n

Leftshift 20 by 2:     10100 = 20  #right   01010 = 10 #left
         10 - 0        01010 = 10           10100 = 20
          5 - 0        00101 =  5
          2 - 1
          1 - 0
"""
a, b=20, 10    # Comma is also a special operator
print(a+b)

30

In [17]:
"""
MEMBERSHIP OPERATORS: To compare memory addresses

in, not in
"""

a=10
b=20

print(id(a))
print(id(b))

if a is b:
    print("Yes")
else:
    print("No")
    
if 1 in (1,2,3,4):
    print("Yes")
else:
    print("No")

1668045040208
1668045040528
No
Yes

In [2]:
"""
Write a program such that
------------------------
i/p:
abcd
10
------------------------
o/p:
abcdabcdab
"""

str1=input()
num=int(input())

if num<len(str1):
    print(str1[0:num])
else:
    t=num//len(str1)
    r=num%len(str1)
    str2=(t*str1)+str1[0:r]
    print(str2)

abcd
10
abcdabcdab

# Output Formats - Printing Statements

In [4]:
"""
OUTPUT in Python is given using the print statement- print()
"""
a = 4
print("Hello")
print("Hello",end = " hi ")                                   #removes the newline character from the EOL and assigns the passed data at the end of line
print("Hello",end = " hi \n") 
print('Hello')
print(a)
print("The number is:",a,a//2,a**2)
print("The number is",a,"half is",a//2)

#.format method
print("The number is {} half is {}".format(a,a//2))
print("The number is {1} half is {2} {0}".format(a,a//2,a**2))  #to change the order

#f.string method
print(f"The number is {a} half is {a//2} square is {a**2}")

print(f"The number is {a} half is {a//2} {a**2} {'hr:1'}")
# print(f"The number is {a} half is {a//2} {a**2} {"hr:1"}")      #Double quotes give error since no specific differentiation of string ending

Hello
Hello hi Hello hi
Hello
4
The number is: 4 2 16
The number is 4 half is 2
The number is 4 half is 2
The number is 2 half is 16 4
The number is 4 half is 2 square is 16
The number is 4 half is 2 16 hr:1